//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

//@theme "/home/alejandro/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/alejandro/.local/share/rofi/themes/squared-everforest.rasi"

//@theme "/home/alejandro/.local/share/rofi/themes/rounded-green-dark.rasi"

@theme "/home/alejandro/.local/share/rofi/themes/squared-everforest.rasi"
